<!DOCTYPE html>
<html>
<head>
  <title>Tunr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Tun.r</h1>
  <nav>
    <% if session[:is_signed_in] %>
      <a href="/signout"><%= session[:user]["username"] %>: sign out</a></h2>
    <% else %>
      <a href="/signin">Sign in</a>
    <% end %>
    <a href="/songs">Songs</a>
    <a href="/artists">Artists</a>
  </nav>

<%= yield %>

</body>
</html>
